export KAFKA_TARGET_BROKERS=XXXXX
export KAFKA_SOURCE_BROKERS=XXXXX
export KAFKA_SOURCE_APIKEY="XXXXX"
# same as KAFKA_TARGET_BROKERS
export KAFKA_BROKERS=XXXXX
export KAFKA_APIKEY="XXXXX"
export KAFKA_USER="token"
export KAFKA_PWD="XXXXX"
# where are you getting data from for mirror maker
export KAFKA_SOURCE_TOPIC="orders"
# where are you storing data
export KAFKA_TARGET_TOPIC="source.orders"